@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RegisterStyleSheet/AboutStyleSheet.css" rel="stylesheet" />
</head>
<div id="abt">
    <h2>Name            : Mohammed Faizan Kuwar</h2>

    <h2>Occupation      :  Web Developer</h2>

    <h2>Qualifications  :  BSC Computer Science</h2>

    <h2>University      :  University Of Mumbai</h2>

    <h2>Institute       :  Ifture Technologies Pvt Ltd.</h2>

    <h2>Programming Languages : C#, Python, JavaScript</h2>

    <h2>Markup & Design : HTML, CSS, Bootstrap</h2>

    <h2>Frameworks       : .Net MVC, Django</h2>

    <h2>Internship       : Adservs Servises Pvt Ltd</h2>

    <h2>Date Of Birth   :  20 December 1995</h2>
    <br />

    @*<h2>Address         :  Kon</h2>*@
</div>


