@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/RegisterStyleSheet/ContectStyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h3>Address</h3>
<body>
    <address id="add">
        002 Lotas Building, <br />
        Kalyan Bhiwandi Road,<br />
        Kon - 421311 <br />
        <br />

        <abbr title="Phone">Phone No:</abbr>
        8169955009
    </address>

    <address id="eml">
        <strong>Email:</strong>  <a href="mailto: fkuwari1993@gmail.com">fkuwari1993@gmail.com</a>
    </address>

    <div>

        <h3>Social Media</h3>
        <a href="https://www.facebook.com/profile.php?id=100013264697601&sk=about" class="fa fa-facebook"></a>

        <a href="https://twitter.com/Fain12345678/" class="fa fa-twitter"></a>

        <a href="https://www.youtube.com/channel/UCjxlq5-pZUo-wDhgRnGbazw/videos" class="fa fa-youtube"></a>

        <a href="https://www.instagram.com/fain_kuwar/" class="fa fa-instagram"></a>
    </div>
    
</body>

    @*<footer>
        
    </footer>*@
    