body {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: 1370px 650px;
}

#LoginFormLayout {
    background-color: #fff;
    padding: 40px 50px;
    margin-top: 20px;
}

    #LoginFormLayout #loginform {
        padding-top: 50px;
        padding-left: 50px;
        margin-top: 15px;
    }

        #LoginFormLayout #loginform h3 {
            padding-left: 15px;
            margin: 10px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        #LoginFormLayout #loginform input[type="text"],
        #LoginFormLayout #loginform .input-group-addon {
            margin-top: 15px;
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid #add;
        }

        #LoginFormLayout #loginform .input-group-addon {
            padding: 0;
            padding-left: 5px;
        }

            /*#LoginFormLayout #loginform input[type="submit"]{
            background-color: #273c75;
            border-radius:50px;
            height:50px;
            width:120px;
        }*/

    #LoginFormLayout #loginimage {
        border-left: 1px solid #add;
    }





